# Exercises

The end result of this exercise should be a file named acquire.py.

1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named `items` that has all of the data for items.

In [27]:
import pandas as pd
import requests

In [38]:
url = 'https://python.zgulde.net/api/v1/items'
response = requests.get(url)
data_items = response.json()

In [39]:
data_items['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [40]:
data_items['payload']['max_page']

3

In [41]:
items = pd.DataFrame(data_items['payload']['items'])
items.shape

(20, 6)

In [44]:
base_url = 'https://python.zgulde.net'

#Make a request for the information on the next page
response2 = requests.get(base_url + data_items['payload']['next_page'])

#Store the results of the request in a new dataframe
data2 = response2.json()

items2 = pd.DataFrame(data2['payload']['items'])
items2.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428

In [45]:
#Add the results of my new request to the original dataframe
items = pd.concat([items, items2]).reset_index()
items.shape

(40, 7)

In [46]:
#Make one more request for the final page of data
response3 = requests.get(base_url + data2['payload']['next_page'])

data3 = response3.json()

items3 = pd.DataFrame(data3['payload']['items'])

items3.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
1,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
2,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
3,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
4,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237

In [47]:
#Add the results to my items dataframe
items = pd.concat([items, items3]).reset_index()
items.shape

(50, 8)

2. Do the same thing, but for `stores` (https://python.zgulde.net/api/v1/stores)

In [49]:
url = 'https://python.zgulde.net/api/v1/stores'
response = requests.get(url)
data_stores = response.json()

In [50]:
stores = pd.DataFrame(data_stores['payload']['stores'])
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [20]:
data_stores['payload']['max_page']

1

3. Extract the data for `sales` (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [2]:
base_url = 'https://python.zgulde.net'
response = requests.get('https://python.zgulde.net/api/v1/sales')

data_sales = response.json()
data_sales.keys()

dict_keys(['payload', 'status'])

In [3]:
(
    data_sales['payload']['page'], 
    data_sales['payload']['max_page'], 
    data_sales['payload']['next_page'],
    data_sales['payload']['previous_page'],
)

(1, 183, '/api/v1/sales?page=2', None)

In [4]:
max_page_sales = data_sales['payload']['max_page']
max_page_sales

183

In [13]:
response = requests.get('https://python.zgulde.net/api/v1/sales')
data = response.json()

sales = data['payload']['sales']
    
while data['payload']['next_page'] is not None:
        print('Fetching page {} of {}'.format(data['payload']['page'] + 1, data['payload']['max_page']))
        response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
        data = response.json()
        sales += data['payload']['sales']

Fetching page 2 of 183
Fetching page 3 of 183
Fetching page 4 of 183
Fetching page 5 of 183
Fetching page 6 of 183
Fetching page 7 of 183
Fetching page 8 of 183
Fetching page 9 of 183
Fetching page 10 of 183
Fetching page 11 of 183
Fetching page 12 of 183
Fetching page 13 of 183
Fetching page 14 of 183
Fetching page 15 of 183
Fetching page 16 of 183
Fetching page 17 of 183
Fetching page 18 of 183
Fetching page 19 of 183
Fetching page 20 of 183
Fetching page 21 of 183
Fetching page 22 of 183
Fetching page 23 of 183
Fetching page 24 of 183
Fetching page 25 of 183
Fetching page 26 of 183
Fetching page 27 of 183
Fetching page 28 of 183
Fetching page 29 of 183
Fetching page 30 of 183
Fetching page 31 of 183
Fetching page 32 of 183
Fetching page 33 of 183
Fetching page 34 of 183
Fetching page 35 of 183
Fetching page 36 of 183
Fetching page 37 of 183
Fetching page 38 of 183
Fetching page 39 of 183
Fetching page 40 of 183
Fetching page 41 of 183
Fetching page 42 of 183
Fetching page 43 of 183
Fetching page 44 of 183
Fetching page 45 of 183
Fetching page 46 of 183
Fetching page 47 of 183
Fetching page 48 of 183
Fetching page 49 of 183
Fetching page 50 of 183
Fetching page 51 of 183
Fetching page 52 of 183
Fetching page 53 of 183
Fetching page 54 of 183
Fetching page 55 of 183
Fetching page 56 of 183
Fetching page 57 of 183
Fetching page 58 of 183
Fetching page 59 of 183
Fetching page 60 of 183
Fetching page 61 of 183
Fetching page 62 of 183
Fetching page 63 of 183
Fetching page 64 of 183
Fetching page 65 of 183
Fetching page 66 of 183
Fetching page 67 of 183
Fetching page 68 of 183
Fetching page 69 of 183
Fetching page 70 of 183
Fetching page 71 of 183
Fetching page 72 of 183
Fetching page 73 of 183
Fetching page 74 of 183
Fetching page 75 of 183
Fetching page 76 of 183
Fetching page 77 of 183
Fetching page 78 of 183
Fetching page 79 of 183
Fetching page 80 of 183
Fetching page 81 of 183
Fetching page 82 of 183
Fetching page 83 of 183
Fetching page 84 of 183
Fetching page 85 of 183
Fetching page 86 of 183
Fetching page 87 of 183
Fetching page 88 of 183
Fetching page 89 of 183
Fetching page 90 of 183
Fetching page 91 of 183
Fetching page 92 of 183
Fetching page 93 of 183
Fetching page 94 of 183
Fetching page 95 of 183
Fetching page 96 of 183
Fetching page 97 of 183
Fetching page 98 of 183
Fetching page 99 of 183
Fetching page 100 of 183
Fetching page 101 of 183
Fetching page 102 of 183
Fetching page 103 of 183
Fetching page 104 of 183
Fetching page 105 of 183
Fetching page 106 of 183
Fetching page 107 of 183
Fetching page 108 of 183
Fetching page 109 of 183
Fetching page 110 of 183
Fetching page 111 of 183
Fetching page 112 of 183
Fetching page 113 of 183
Fetching page 114 of 183
Fetching page 115 of 183
Fetching page 116 of 183
Fetching page 117 of 183
Fetching page 118 of 183
Fetching page 119 of 183
Fetching page 120 of 183
Fetching page 121 of 183
Fetching page 122 of 183
Fetching page 123 of 183
Fetching page 124 of 183
Fetching page 125 of 183
Fetching page 126 of 183
Fetching page 127 of 183
Fetching page 128 of 183
Fetching page 129 of 183
Fetching page 130 of 183
Fetching page 131 of 183
Fetching page 132 of 183
Fetching page 133 of 183
Fetching page 134 of 183
Fetching page 135 of 183
Fetching page 136 of 183
Fetching page 137 of 183
Fetching page 138 of 183
Fetching page 139 of 183
Fetching page 140 of 183
Fetching page 141 of 183
Fetching page 142 of 183
Fetching page 143 of 183
Fetching page 144 of 183
Fetching page 145 of 183
Fetching page 146 of 183
Fetching page 147 of 183
Fetching page 148 of 183
Fetching page 149 of 183
Fetching page 150 of 183
Fetching page 151 of 183
Fetching page 152 of 183
Fetching page 153 of 183
Fetching page 154 of 183
Fetching page 155 of 183
Fetching page 156 of 183
Fetching page 157 of 183
Fetching page 158 of 183
Fetching page 159 of 183
Fetching page 160 of 183
Fetching page 161 of 183
Fetching page 162 of 183
Fetching page 163 of 183
Fetching page 164 of 183
Fetching page 165 of 183
Fetching page 166 of 183
Fetching page 167 of 183
Fetching page 168 of 183
Fetching page 169 of 183
Fetching page 170 of 183
Fetching page 171 of 183
Fetching page 172 of 183
Fetching page 173 of 183
Fetching page 174 of 183
Fetching page 175 of 183
Fetching page 176 of 183
Fetching page 177 of 183
Fetching page 178 of 183
Fetching page 179 of 183
Fetching page 180 of 183
Fetching page 181 of 183
Fetching page 182 of 183
Fetching page 183 of 183

In [16]:
sales = pd.DataFrame(sales)
sales.shape

(913000, 5)

4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [17]:
sales.to_csv("store_sales.csv")

In [51]:
items.to_csv('items.csv')
stores.to_csv('stores.csv')

5. Combine the data from your three separate dataframes into one large dataframe.

In [52]:
sales_store_item = sales.merge(stores, how="left", left_on="store", right_on="store_id")

In [53]:
sales_store_item = sales_store_item.merge(items, how="left", left_on="item", right_on="item_id")
sales_store_item.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store          913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_id       913000 non-null  int64
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  object
 10  level_0        913000 non-null  int64
 11  index          730400 non-null  float64
 12  item_brand     913000 non-null  object
 13  item_id        913000 non-null  int64
 14  item_name      913000 non-null  object
 15  item_price     913000 non-null  float64
 16  item_upc12     913000 non-null  object
 17  item_upc14     913000 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 132.3+ MB

In [54]:
sales_store_item.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [55]:
sales_store_item.to_csv('merged_df.csv')

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [56]:
power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [57]:
power.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [58]:
power.to_csv('power.csv')

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the `acquire.py` file and be able to re-run the functions and get the same data.

In [75]:
def get_items():
    
    base_url = 'https://python.zgulde.net'
    
    response = requests.get('https://python.zgulde.net/api/v1/items')
    
    data = response.json()
    
    items = data['payload']['items']
    
    while data['payload']['next_page'] is not None:

        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
        items += data['payload']['items']
        
    return  pd.DataFrame(items)

In [76]:
# test

items1 = get_items()
items1.shape

(50, 6)

In [77]:
items1.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [78]:
def get_store():
    
    response = requests.get('https://python.zgulde.net/api/v1/stores')
    
    data = response.json()

    stores = data['payload']['stores']
    
    return pd.DataFrame(stores)

In [79]:
store1 = get_store()
store1.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [81]:
def get_sales():
    
    response = requests.get('https://python.zgulde.net/api/v1/sales')
    data = response.json()
    sales = data['payload']['sales']
    
    while data['payload']['next_page'] is not None:
        
        response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
        data = response.json()
        sales += data['payload']['sales']
        
    return pd.DataFrame(sales)

In [82]:
def merge_sales(sales, items, stores):
    
    sales_store_item = sales.merge(stores, how="left", left_on="store", right_on="store_id")
    sales_store_item = sales_store_item.merge(items, how="left", left_on="item", right_on="item_id")
    
    return sales_store_item

In [85]:
sales_store_item1 = merge_sales(sales, items, stores)
sales_store_item1.shape

(913000, 18)